Electrical/NMEA-2000-influxdb-backups/
fp-info-cache
fp-lib-table
NMEA-2000-influxdb.kicad_prl
Electrical/#auto_saved_files#
Electrical/SN65-HVD230-Module/SN65-HVD230-Module-backups/
Electrical/SN65-HVD230-Module/SN65-HVD230-Module.kicad_prl
Electrical/~NMEA-2000-influxdb.kicad_sch.lck
